.todo {
    &__header {
        margin-bottom: 4rem;
        height: 4.8rem;
    }

    &__create {
        background-color: #fff;
        height: var(--size-todo-item);
        padding: 2rem 2.4rem;
        display: flex;
        align-items: center;
        border-radius: var(--size-border-radius);
    }
}