body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--size-default-font);

    @include respond($bp-mobile) {
        font-size: var(--size-mobile-font);
    }
}

input, button {
    font-family: inherit;
}

.heading-primary {
    color: var(--clr-very-light-gray);
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-size: 4rem;
    font-weight: 700;
}