:root {
    // COLORS
    --clr-white: hsl(0, 0%, 100%);

    // SIZES
    --size-border-radius: .5rem;

    // EXTRA
    --lin-grad-bg: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 74%, 65%));
}