@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--clr-white);
    letter-spacing: -.25px;
    font-size: 1.8rem;
}

.heading-secondary {
	font-weight: 700;
	font-size: 4rem;
	letter-spacing: 1.5rem;
	text-transform: uppercase;
}

input {
    font-family: 'Josefin Sans', sans-serif;
}