:root {
    // Colors

    /* Styles that should be separate variables
        . Linear-gradient
        . background-color
        . todo-list
            - wrapper background-color
            - text-color
            - hover text-color
    */

    // Linear-gradients
    --l-grad: hsl(217, 100%, 67%), hsl(280, 83%, 55%);

    // Sizes
    --gutter: 3rem;
    --container-max-width: 114rem;
    --bg-image-height-desktop: 30rem;

}