.job-post {
    display: flex;
    align-items: center;
    background-color: var(--clr-white);
    box-shadow: var(--shadow-job-item);
    min-height: 15.2rem;
    padding: 0 var(--size-padding-job-item);
    position: relative;


    @include respond($bp-mobile) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 2.4rem;
        padding: 0 2.4rem 2.4rem 2.4rem;
        max-width: 32.7rem;
    }

    &__detail {
        display: flex;
        flex-direction: column;
        margin-left: 2.4rem;
        margin-top: 3.2rem;

        @include respond($bp-mobile) {
            margin-left: 0;
        }
    }

    &__tags {
        margin-left: auto;
        display: flex;
        justify-content: space-between;

        @include respond($bp-mobile) {
            margin-left: 0;
            flex-wrap: wrap;
            justify-content: initial;

            &:first-child {
                margin-top: 1.6rem;
                background-color: red;
                font-size: 45px;
            }

            & > * {
                margin-top: 1.6rem;
            }
        }
    }

    &__advert {
        font-size: var(--font-job-advert);
        font-weight: 700;
        justify-content: flex-start;
        margin-bottom: 1.2rem;
    }

    &__label {
        border-radius: 1.2rem;
        color: var(--clr-white);
        padding: .5rem .8rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: center;

        @include respond($bp-mobile) {
            font-size: 1.1rem;
        }

        &--new {
            background-color: var(--clr-primary);
        }

        &--featured {
            background-color: var(--clr-label-featured);
        }
    }

    &__company {
        font-weight: 700;
        color: var(--clr-primary);

        @include respond($bp-mobile) {
            font-size: 1.3rem;
        }
    }

    &__image {
        @include respond($bp-mobile) {
            width: 4.8rem;
            position: absolute;
            transform: translateY(-50%);
        }
    }

    &--new {
        border-left: 5px solid var(--clr-primary);
        border-radius: var(--size-border-radius);
        @include respond($bp-mobile) {
            font-size: 1.1rem;
        }
    }
}

.job-description {

    & > span {
        position: relative;
        font-size: 1.5rem;
        margin-right: 3.6rem;
        color: var(--clr-grey-1);

        @include respond($bp-mobile) {
            font-size: 1.3rem;
            margin-right: 2rem;
        }
        &:not(:last-child)::after {
            content: '.';
            position: absolute;
            color: var(--clr-grey-2);
            right: -2.8rem;
            bottom: -.5rem;
            font-size: 4rem;

            @include respond($bp-mobile) {
                right: -1.8rem;
                bottom: -.55rem;
            }
        }
    }
}