.job-post {
    align-items: center;
    gap: 2.4rem;
    padding: 3.2rem 4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    background-color: var(--clr-white);

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__company {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--clr-green-1);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__description {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--clr-gray-dark-1);

        & > span {
            position: relative;

            &:not(:last-child) {
                margin-right: 2.4rem;

                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 40%;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    margin-left: .8rem;
                    background-color: var(--clr-gray-light-3);
                }
            }
        }
    }

    &__tags {
        justify-self: end;
    }

    &:not(:last-child) {
        margin-bottom: 2.4rem;
    }

    &--featured {
        border-left: .5rem solid var(--clr-green-1);
    }
}