*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--clr-body-bg);
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
}