:root {
    // colors
    --clr-white: hsl(0, 0%, 100%);
    --clr-primary: hsl(180, 29%, 50%);
    --clr-secondary: hsl(180, 29%, 50%);
    --clr-tertiary: hsl(180, 42%, 93%);
    --clr-body-bg: hsl(179, 53%, 96%);
    --clr-label-featured: hsl(180, 14%, 20%);
    --clr-grey-1: hsl(180, 8%, 52%);

    // sizes
    --size-header: 15.6rem;
    --size-container: 114rem;
    --size-height-filter-list: 7.2rem;
    --size-border-radius: .5rem;
    --size-padding-job-item: 4rem;

    // fonts
    --font-job-advert: 1.4rem;

    // shadow
    --shadow-job-item: 0 4px 4px hsla(0, 0%, 0%, 25%);
}