@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Spartan:wght@500;700&display=swap");
:root {
  --clr-gray-light-1: hsl(180, 52%, 96%);
  --clr-gray-light-2: hsl(180, 31%, 95%);
  --clr-gray-light-3: hsl(180, 10%, 74%);
  --clr-gray-dark-1: hsl(180, 8%, 52%);
  --clr-gray-dark-2: rgb(44, 58, 58);
  --clr-gray-dark-3: #2b3939;
  --clr-main-bg: #effafa;
  --clr-green-1: #5ca5a5;
  --clr-green-2: hsl(180, 29%, 50%);
  --clr-white: #fff;
  --gradient-colors: #63baba, #5ca5a5; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

html, body {
  height: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem; }

body {
  max-width: 136rem;
  margin: 0 auto; }

.header {
  text-align: center;
  height: 15.6rem;
  background-image: url(../images/bg-header-desktop.svg), linear-gradient(var(--gradient-colors)); }
  @media (max-width: 23.4375em) {
    .header {
      background-image: url(../images/bg-header-mobile.svg), linear-gradient(var(--gradient-colors)); } }

.main {
  background-color: var(--clr-main-bg);
  padding: 7.6rem 0; }

.job-post {
  width: 82%;
  display: grid;
  grid-template-columns: 8.8rem 26.6rem 1fr;
  margin: 0 auto; }
  @media (max-width: 23.4375em) {
    .job-post {
      grid-template-columns: 1fr;
      margin: 0 2.4rem; } }

.label__list {
  list-style: none;
  display: flex; }
  .label__list > *:not(:last-child) {
    margin-right: 1.6rem; }
  @media (max-width: 23.4375em) {
    .label__list {
      flex-wrap: wrap;
      margin: -3.3rem 0 0 0; }
      .label__list > * {
        margin-top: 2rem; } }

.tag {
  border-radius: 100px;
  padding: .7rem;
  margin: 0 .4rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--clr-white); }
  .tag--new {
    background-color: var(--clr-green-1); }
  .tag--featured {
    background-color: var(--clr-gray-dark-3); }

.label {
  font-size: 1.3rem;
  color: var(--clr-green-1);
  background-color: var(--clr-main-bg);
  padding: .8rem 1rem;
  font-weight: bold; }

.separator {
  display: none; }
  @media (max-width: 23.4375em) {
    .separator {
      width: 100%;
      display: block;
      margin: 0 auto;
      height: 1px;
      margin-top: -3.3rem;
      background-color: var(--clr-gray-light-3); } }

.job-post {
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem 4rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
  background-color: var(--clr-white); }
  @media (max-width: 23.4375em) {
    .job-post {
      position: relative;
      width: 32.7rem;
      height: 25.7rem;
      padding: 3.2rem 2.4rem; } }
  @media (max-width: 23.4375em) {
    .job-post__logo {
      position: absolute;
      width: 4.8rem;
      top: -2.4rem;
      left: 2.4rem; } }
  .job-post__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    @media (max-width: 23.4375em) {
      .job-post__info {
        display: block; }
        .job-post__info > *:not(:last-child) {
          margin-bottom: .8rem; } }
  .job-post__company {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--clr-green-1); }
    @media (max-width: 23.4375em) {
      .job-post__company {
        font-size: 1.3rem;
        display: flex;
        align-items: center; } }
  .job-post__title {
    font-size: 1.8rem;
    font-weight: 700; }
    @media (max-width: 23.4375em) {
      .job-post__title {
        font-size: 1.5rem;
        display: block; } }
  .job-post__description {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-gray-dark-1); }
    @media (max-width: 23.4375em) {
      .job-post__description {
        margin-bottom: 1.6rem; } }
    .job-post__description > span {
      position: relative; }
      .job-post__description > span:not(:last-child) {
        margin-right: 2.4rem; }
        .job-post__description > span:not(:last-child)::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 40%;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          margin-left: .8rem;
          background-color: var(--clr-gray-light-3); }
  .job-post__tags {
    justify-self: end; }
  .job-post:not(:last-child) {
    margin-bottom: 2.4rem; }
  .job-post--featured {
    border-left: 0.5rem solid var(--clr-green-1); }
