@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(180, 29%, 50%);
  --clr-secondary: hsl(180, 29%, 50%);
  --clr-tertiary: hsl(180, 42%, 93%);
  --clr-body-bg: hsl(179, 53%, 96%);
  --clr-label-featured: hsl(180, 14%, 20%);
  --clr-grey-1: hsl(180, 8%, 52%);
  --clr-grey-2: hsl(180, 10%, 74%);
  --size-header: 15.6rem;
  --size-container: 114rem;
  --size-height-filter-list: 7.2rem;
  --size-border-radius: .5rem;
  --size-padding-job-item: 4rem;
  --font-job-advert: 1.4rem;
  --shadow-job-item: 0 4px 4px hsla(0, 0%, 0%, 25%); }

body {
  font-family: 'Spartan', sans-serif; }

.heading-secondary {
  font-size: 1.8rem; }
  @media (max-width: 376px) {
    .heading-secondary {
      font-size: 1.5rem; } }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--clr-body-bg); }

body, html {
  height: 100%;
  overflow-x: hidden; }

li {
  list-style: none; }

.header {
  height: var(--size-header);
  background-image: url(../images/bg-header-desktop.svg);
  background-color: var(--clr-secondary); }

.container {
  width: var(--size-container);
  margin: 0 auto; }

.u-mb-medium {
  margin-bottom: .8rem; }

.u-mr-large {
  margin-right: 2.4rem; }

.filter-list {
  min-height: var(--size-height-filter-list);
  margin-top: -2.6rem;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: 4rem;
  box-shadow: var(--shadow-job-item);
  border-radius: var(--size-border-radius); }

.icon {
  background-color: var(--clr-label-featured); }

.job-post {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  box-shadow: var(--shadow-job-item);
  min-height: 15.2rem;
  padding: 0 var(--size-padding-job-item);
  position: relative; }
  @media (max-width: 376px) {
    .job-post {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 2.4rem;
      padding: 0 2.4rem 2.4rem 2.4rem;
      max-width: 32.7rem; } }
  .job-post__detail {
    display: flex;
    flex-direction: column;
    margin-left: 2.4rem;
    margin-top: 3.2rem; }
    @media (max-width: 376px) {
      .job-post__detail {
        margin-left: 0; } }
  .job-post__tags {
    margin-left: auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 376px) {
      .job-post__tags {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: initial; }
        .job-post__tags:first-child {
          margin-top: 1.6rem;
          background-color: red;
          font-size: 45px; }
        .job-post__tags > * {
          margin-top: 1.6rem; } }
  .job-post__advert {
    font-size: var(--font-job-advert);
    font-weight: 700;
    justify-content: flex-start;
    margin-bottom: 1.2rem; }
  .job-post__label {
    border-radius: 1.2rem;
    color: var(--clr-white);
    padding: .5rem .8rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center; }
    @media (max-width: 376px) {
      .job-post__label {
        font-size: 1.1rem; } }
    .job-post__label--new {
      background-color: var(--clr-primary); }
    .job-post__label--featured {
      background-color: var(--clr-label-featured); }
  .job-post__company {
    font-weight: 700;
    color: var(--clr-primary); }
    @media (max-width: 376px) {
      .job-post__company {
        font-size: 1.3rem; } }
  @media (max-width: 376px) {
    .job-post__image {
      width: 4.8rem;
      position: absolute;
      transform: translateY(-50%); } }
  .job-post--new {
    border-left: 5px solid var(--clr-primary);
    border-radius: var(--size-border-radius); }
    @media (max-width: 376px) {
      .job-post--new {
        font-size: 1.1rem; } }

.job-description > span {
  position: relative;
  font-size: 1.5rem;
  margin-right: 3.6rem;
  color: var(--clr-grey-1); }
  @media (max-width: 376px) {
    .job-description > span {
      font-size: 1.3rem;
      margin-right: 2rem; } }
  .job-description > span:not(:last-child)::after {
    content: '.';
    position: absolute;
    color: var(--clr-grey-2);
    right: -2.8rem;
    bottom: -.5rem;
    font-size: 4rem; }
    @media (max-width: 376px) {
      .job-description > span:not(:last-child)::after {
        right: -1.8rem;
        bottom: -.55rem; } }

.tag {
  padding: 1rem 1.2rem;
  background-color: var(--clr-tertiary);
  font-weight: 700;
  color: var(--clr-primary);
  font-size: 1.3rem; }
  .tag:not(:last-child) {
    margin-right: 2.4rem; }

.separator {
  display: none; }
  @media (max-width: 376px) {
    .separator {
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--clr-grey-2);
      margin: 1.6rem 0; } }
