:root {
    // Colors
    --clr-gray-light-1: hsl(180, 52%, 96%);
    --clr-gray-light-2: hsl(180, 31%, 95%);
    --clr-gray-dark-1: hsl(180, 8%, 52%);
    --clr-gray-dark-2: rgb(44, 58, 58);
    --clr-gray-dark-3: #2b3939;
    --clr-main-bg: #effafa;
    --clr-green-1: #5ca5a5;
    --clr-white: #fff;

    // Gradients
    --gradient-colors: #63baba, #5ca5a5;
}