@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);
  --clr-dark-blue-1: hsl(217, 54%, 11%);
  --clr-dark-blue-2: hsl(216, 52%, 16%);
  --clr-dark-blue-3: hsl(215, 32%, 27%);
  --clr-dark-blue-4: hsl(214, 20%, 44%);
  --clr-white: hsl(0,0%,100%);
  --clr-turqoise: hsl(181, 68%, 49%); }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: var(--clr-dark-blue-1); }

img {
  max-width: 100%; }

.card {
  width: 30rem;
  margin: 5rem auto;
  padding: 2.5rem;
  background-color: var(--clr-dark-blue-2);
  border-radius: 1.5rem; }
  @media only screen and (max-width: 37.5rem) {
    .card {
      margin: 2rem auto; } }
  .card .nft__logo-box {
    position: relative; }
    .card .nft__logo-box:hover {
      cursor: pointer;
      filter: brightness(200%); }
    .card .nft__logo-box:hover .nft__view {
      opacity: 1; }
  .card .nft__logo {
    height: 100%;
    border-radius: .7rem;
    transition: all .3s; }
  .card .nft__view {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s; }
  .card .nft__caption {
    font-weight: 600;
    margin: 2rem 0; }
    .card .nft__caption:hover {
      cursor: pointer;
      color: var(--clr-turqoise); }
  .card .nft__description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--clr-dark-blue-4); }
  .card .current-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem; }
    .card .current-status__value {
      display: flex;
      align-items: center;
      color: var(--clr-turqoise); }
    .card .current-status__time {
      display: flex;
      align-items: center; }

.separator {
  width: 100%;
  border-top: 1px solid var(--clr-dark-blue-4); }

.author {
  display: flex;
  align-items: center; }
  .author__photo {
    width: 3.5rem;
    border: 1px solid var(--clr-white);
    border-radius: 50%; }
  .author__name {
    margin-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 300; }
    .author__name--creator {
      font-weight: 400;
      color: var(--clr-dark-blue-4);
      margin-left: .5rem; }
      .author__name--creator:hover {
        cursor: pointer;
        color: var(--clr-turqoise); }

.container {
  width: 100%;
  height: 100%; }

body {
  font-size: 1.8rem;
  font-family: 'Outfit', sans-serif;
  color: var(--clr-white); }

.u-ml-xxxsmall {
  margin-left: .5rem !important; }

.u-mb-medium {
  margin-bottom: 2rem !important; }
